header {
    color: black;
    text-align: center;
    font-size: 70px;
    padding: 20px;
}

div > input {
    padding: 5px;
    width: 150px;
    font-size: large;
}

section > img {
    padding-inline: 550px;
}